<% layout('/layouts/boilerplate') %>
  <h1>Campground <%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <img src="<%= campground.image %>" alt="randome stock image">
    <p><%= campground.description %></p>
    <p><strong>Price:</strong> $<%= campground.price %></p>
    <a href="/campgrounds/<%= campground._id %>/edit">Edit Camp</a>
    <br>
    <a href="/campgrounds">Go to Index</a>
    <br>
    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
